
    <!-- https://materializecss.com/navbar.html -->
    <header>
        <nav>
            <div class="nav-wrapper">
                <img class="hide-on-small-and-down" src="/images/bca-logo-transparent.png">
                <a href="/" class="brand-logo">HackBCA 20XX</a>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="desktop-nav" class="right hide-on-med-and-down">
                    <li><a href="/events"><i class="material-icons left">event</i>Events</a></li>
                    <li><a href="/attendees"><i class="material-icons left">people</i>Attendees</a></li>
                    <li><a href="/projects"><i class="material-icons left">build</i>Projects</a></li>
                    <li><a href="/users/login" class="btn">Login</a></li>
                    <li><a href="/users/register" >Register</a></li>
                </ul>
            </div>
        </nav>
        <ul id="mobile-nav" class="sidenav">
            <li><a href="/events"><i class="material-icons left">event</i>Events</a></li>
            <li><a href="/attendees"><i class="material-icons left">people</i>Attendees</a></li>
            <li><a href="/projects"><i class="material-icons left">build</i>Projects</a></li>
            <li><a href="/login" class="btn">Login / Register</a></li>
        </ul>
    </header>